.link {
  color: var(--color-brand-primary);
  transition: color 100ms ease;

  &:hover,
  &:active {
    text-decoration-line: none;
  }

  &:hover {
    color: var(--color-brand-primary-light);
  }

  &:active {
    color: var(--color-brand-primary-dark);
  }
}
